__pycache__
.cache
.ropeproject
.venv
.env
.pythonrc*
.agignore
**/*.pyc
**/*.egg-info
**/*.log
**/*.BACKUP
pyphi/data/hamming_matrices/10.npy
__pyphi_cache__
dist
build
profiling
docs/_build
.coverage
htmlcov
results
html
env
benchmarks/pyphi_config.yml
profiling/pyphi_config.yml
ignore
.ignore
startup.py
my_requirements.txt
