__pycache__
.ropeproject
node_modules
.env
.pythonrc*

dist
build
docs/_build
github-docs
**/*.pyc
.coverage
htmlcov
.agignore

callgraph*
code_to_profile.py
profile.pstats
profile_data/
save_current_profile.sh
__pyphi_cache__
profile.dat
loadprofile.sh
saveprofile.sh
__results__
results
*.egg-info
dump.rdb
*.log
.venv
