__pycache__
.ropeproject
node_modules
.venv
.env
.pythonrc*
.agignore
**/*.pyc
**/*.egg-info
**/*.log
**/*.BACKUP
pyphi/data/hamming_matrices/10.npy

__pyphi_cache__
dist
build
docs/_build
github-docs
.coverage
htmlcov
results
html
env
