# Install requires
numpy==1.8.1
scipy==0.13.3
pyemd<1.0.0
joblib==0.8.0a3
psutil==2.1.1
marbl-python<1.0.0

# Tests/docs require
pytest
coverage
Sphinx
sphinxcontrib-napoleon
sphinx_rtd_theme

## Nested dependencies
Jinja2==2.7.2
MarkupSafe==0.19
Pygments==1.6
docutils==0.11
py==1.4.20
msgpack-python==0.4.2
