@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:300,400,700);
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wy-nav-content {
    max-width: 900px;
}
h1, h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.rst-content dl:not(.docutils) tt.descname,
.rst-content dl:not(.docutils) tt.descclassname,
em, .docutils.literal,
div.highlight pre {
    font-family: 'Droid Sans Mono', 'Monaco', monospace;
}
div.highlight pre {
    font-size: 14px;
}
.rst-content tt.docutils.literal {
    font-size: 90%;
    padding: 2px 5px;
    border: 1px solid #e1e4e5;
    color: #099;
    border-radius: 4px;
}
.rst-content dl:not(.docutils) tt.docutils.literal {
    font-weight: normal;
}
.wy-table td p,
.rst-content table.docutils td p,
.rst-content table.field-list td p {
    font-size: inherit;
}
p.rubric {
    font-weight: bold;
}
p.rubric:after {
    content: ":"
}
a.reference.internal > tt.docutils.literal:hover {
    text-decoration: underline;
}
